{% extends 'main/base.html' %}


{% block content %}

<div class="container" style="background-color: #a7d129">
    <br>
    <div class="card" >
        <div class="card-body" style="color: #f7f7e9; background-color: #3e3636">
        <div class="row">
            <div class="col-md-4">
                <img src="{{movie.image}}" alt="{{movie.name}}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <div class="text-center">
                    <h2 class="text-center">{{movie.name}}</h2>
                    <br>
                    <br>
                    <h4><a href="{{ movie.imdb }}">IMDb</a></h4>
                    <br>
                    <h4>Average Rating: {{movie.averageRating}}</h4>
                    <br><br>
                    <h5>Description: {{movie.description}}</h5>
                    <br><br>
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <a href="{% url 'main:edit_movies' movie.id %}" class="btn btn-warning">Edit Movie</a>
                            <a href="{% url 'main:delete_movie' movie.id %}" class="btn btn-danger">Delete Movie</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        </div>

        <div class="card" style="background-color: #a7d129">
            <div class="card-body" style="color: #f7f7e9; background-color: #3e3636">
                <h3 class="text-center">Add Review</h3>
                <form action="{% url 'main:add_review' movie.id %}" method="POST">
                    {% csrf_token %}
                    <label for="comment">Review:</label>
                    <textarea name="comment" id="comment" cols="30" rows="5" class="form-control" style="background-color:#c4cf99"></textarea>

                    <label for="rating">Rating:</label>
                    <input type="text" name="rating" class="form-control" style="background-color: #c4cf99">
                    <br>
                    <center>
                    <input type="submit" class="btn btn-success" value="Add Review">
                    </center>
                </form>
            </div>
        </div>

        <div class="card"  >
            <div class="card-body" style="background-color: #3e3636">
                <h3 class="text-center" style="color: #f7f7e9">Reviews</h3>
                <br>
                {% for review in reviews %}

                    <div class="card" style="background-color: #d5e398">
                        <div class="card-body" style="background-color: #d5e398">
                            <div class="row" style="background-color: #d5e398">
                                <div class="col-md-3">
                                    <h5 class="text-left">{{ review.user.username }}</h5>
                                    <h5>{{ review.rating }}</h5>
                                </div>
                                <div class="col-md-9">
                                    <p>{{ review.comment }}</p>

                                </div>
                            </div>
                        </div> <br><br><br><br>
                        <br>

                        {% endfor %}
                    </div>
            </div>
        </div>





    </div>
    <br>
</div>
<br>

{% endblock %}
