{% extends 'view/base.html' %}


{% block content %}

<div class="container">
    <br>
    <div class="card" id="backdrop">
        <div class="card-body" >
            <div class="row" >
                {% for movie in movies %}
                <div class="col-md-4" >
                    <div class="card" id="cardbg" style="background-color: ; display: grid; grid-auto-rows: 1fr;">

                        <div class="card-body" style="display: grid; grid-auto-rows: 1fr;" >

                            <div class="text-center">
                                <img src="{{movie.image}}" alt="" class="img-fluid" width="200fr" height="200fr">
                            <h3 class="text-center">{{ movie.name }}</h3>

                            <a href="{% url 'main:detail' movie.id %}" class="btn btn-success">Read More</a>
                            </div>

                        </div>

                    </div>
                    <br>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>

</div>


{% endblock %}
